@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

input[type="radio"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #177519;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
}

input[type="radio"]:checked {
  background: #4ced4f;
}

.tier1active {
  background-image: url("../../public/tier1active.png");
}
.tier1disabled {
  background-image: url("../../public/tier1disabled.png");
}
.tier2active {
  background-image: url("../../public/tier2active.png");
}
.tier2disabled {
  background-image: url("../../public/tier2disabled.png");
}
.tier3active {
  background-image: url("../../public/tier3active.png");
}
.tier3disabled {
  background-image: url("../../public/tier3disabled.png");
}


.Mage-bg {
  background-image: url("../../public/mage/Mage.png");
}

.Hunter-bg {
  background-image: url("../../public/hunter/Hunter.png");
}

.Warrior-bg {
  background-image: url("../../public/warrior/Warrior.png");
}

.Shadow-bg {
  background-image: url("../../public/shadow/Shadow.png");
}

.Alchemist-bg {
  background-image: url("../../public/alchemist/Alchemist.png");
}

/* ------------Mage----------------- */

.test {
  background-image: url("../../public/test2.png");
}

.Destruction {
  background-image: url("../../public/mage/destruction.jpg");
}

.Fireball {
  background-image: url("../../public/mage/fireball.jpg");
}

.IceSphere {
  background-image: url("../../public/mage/iceSphere.jpg");
}

.SpaceTear {
  background-image: url("../../public/mage/spaceTear.jpg");
}

.Teleportation {
  background-image: url("../../public/mage/teleportation.jpg");
}

.ChainLightning {
  background-image: url("../../public/mage/chainLightning.jpg");
}

.Doppelganger {
  background-image: url("../../public/mage/doppelganger.jpg");
}

.EnergyTranslocation {
  background-image: url("../../public/mage/energyTranslocation.jpg");
}

.EnergyWave {
  background-image: url("../../public/mage/energyWave.jpg");
}

.EnergyAbsorption {
  background-image: url("../../public/mage/energyAbsorption.png");
}

.FrostShield {
  background-image: url("../../public/mage/frostShield.png");
}

.HeatHaze {
  background-image: url("../../public/mage/heatHaze.png");
}

.IllusoryDeceit {
  background-image: url("../../public/mage/illusoryDeceit.png");
}

.MirrorSupport {
  background-image: url("../../public/mage/mirrorSupport.png");
}

.SecretSight {
  background-image: url("../../public/mage/secretSight.png");
}

.Self-Reliance {
  background-image: url("../../public/mage/self-Reliance.png");
}

.SorcerersIngenuity {
  background-image: url("../../public/mage/sorcerersIngenuity.png");
}

/* ------------Shadow----------------- */

.Invisibility {
  background-image: url("../../public/shadow/invisibility.jpg");
}

.ShadowStrike {
  background-image: url("../../public/shadow/shadowStrike.jpg");
}

.TwilightBlade {
  background-image: url("../../public/shadow/twilightBlade.jpg");
}

.Shadowstep {
  background-image: url("../../public/shadow/shadowstep.jpg");
}

.FanOfBlades {
  background-image: url("../../public/shadow/fanOfBlades.jpg");
}

.ThousandBlades {
  background-image: url("../../public/shadow/thousandBlades.jpg");
}

.DarkSaturation {
  background-image: url("../../public/shadow/darkSaturation.jpg");
}

.SoulCutter {
  background-image: url("../../public/shadow/soulCutter.jpg");
}

.DarkPack {
  background-image: url("../../public/shadow/darkPack.jpg");
}

.HiddenThreat {
  background-image: url("../../public/shadow/hiddenThreat.png");
}

.ShadowDefense {
  background-image: url("../../public/shadow/shadowDefense.png");
}

.ShadowTrade {
  background-image: url("../../public/shadow/shadowTrade.png");
}

.PoisonousTrace {
  background-image: url("../../public/shadow/poisonousTrace.png");
}

.DarkConduit {
  background-image: url("../../public/shadow/darkConduit.png");
}

.GrandEntrance {
  background-image: url("../../public/shadow/grandEntrance.png");
}

.PoisonedBlood {
  background-image: url("../../public/shadow/poisonedBlood.png");
}

.VeilOfDarkness {
  background-image: url("../../public/shadow/veilOfDarkness.png");
}

/* ------------Warrior----------------- */

.Aegis {
  background-image: url("../../public/warrior/aegis.jpg");
}

.HammerOfWrath {
  background-image: url("../../public/warrior/hammerOfWrath.jpg");
}

.HeroicBurst {
  background-image: url("../../public/warrior/heroicBurst.jpg");
}

.Taunt {
  background-image: url("../../public/warrior/taunt.jpg");
}

.BladeBarrier {
  background-image: url("../../public/warrior/bladeBarrier.jpg");
}

.ColossusStrike {
  background-image: url("../../public/warrior/colossusStrike.jpg");
}

.LivingArmor {
  background-image: url("../../public/warrior/livingArmor.jpg");
}

.ImmortalDefenders {
  background-image: url("../../public/warrior/immortalDefenders.jpg");
}

.SkyArsenal {
  background-image: url("../../public/warrior/skyArsenal.jpg");
}

.Adaptation {
  background-image: url("../../public/warrior/adaptation.png");
}

.CombatTraining {
  background-image: url("../../public/warrior/combatTraining.png");
}

.Counterstrike {
  background-image: url("../../public/warrior/counterstrike.png");
}

.DenialOfPain {
  background-image: url("../../public/warrior/denialOfPain.png");
}

.Inspiration {
  background-image: url("../../public/warrior/inspiration.png");
}

.SeriesOfBlows {
  background-image: url("../../public/warrior/seriesOfBlows.png");
}

.UnderProtection {
  background-image: url("../../public/warrior/underProtection.png");
}

.Veteran {
  background-image: url("../../public/warrior/veteran.png");
}
/* ------------Hunter----------------- */

.SummonSpirit {
  background-image: url("../../public/hunter/summonSpirit.jpg");
}

.PhantomArrow {
  background-image: url("../../public/hunter/phantomArrow.jpg");
}

.Multishot {
  background-image: url("../../public/hunter/multishot.jpg");
}

.StormOfArrows {
  background-image: url("../../public/hunter/stormOfArrows.jpg");
}

.Leap {
  background-image: url("../../public/hunter/leap.jpg");
}

.SpiritRage {
  background-image: url("../../public/hunter/spiritRage.jpg");
}

.AcidRain {
  background-image: url("../../public/hunter/acidRain.jpg");
}

.LordOfTheSky {
  background-image: url("../../public/hunter/lordOfTheSky.jpg");
}

.FalconHunting {
  background-image: url("../../public/hunter/falconHunting.jpg");
}

.AnimalInstinct {
  background-image: url("../../public/hunter/animalInstinct.png");
}

.EasyPrey {
  background-image: url("../../public/hunter/easyPrey.png");
}

.ExpertShooter {
  background-image: url("../../public/hunter/expertShooter.png");
}

.FirstShot {
  background-image: url("../../public/hunter/firstShot.png");
}

.RescuePirouette {
  background-image: url("../../public/hunter/rescuePirouette.png");
}

.SearchForVulnerabilities {
  background-image: url("../../public/hunter/searchForVulnerabilities.png");
}

.SpiritualConnection {
  background-image: url("../../public/hunter/spiritualConnection.png");
}

.SurvivalTactics {
  background-image: url("../../public/hunter/survivalTactics.png");
}

/* ------------Alchemist----------------- */

.ElixirOfLife {
  background-image: url("../../public/alchemist/elixirOfLife.jpg");
}

.DirectionalTransformation {
  background-image: url("../../public/alchemist/directionalTransformation.jpg");
}

.TransmutationCircle {
  background-image: url("../../public/alchemist/transmutationCircle.jpg");
}

.HealingElixir {
  background-image: url("../../public/alchemist/healingElixir.jpg");
}

.ProtectiveBarrier {
  background-image: url("../../public/alchemist/protectiveBarrier.jpg");
}

.UnstableMixture {
  background-image: url("../../public/alchemist/unstableMixture.jpg");
}

.HealingTransmutation {
  background-image: url("../../public/alchemist/healingTransmutation.jpg");
}

.PotionMaking {
  background-image: url("../../public/alchemist/potionMaking.jpg");
}

.DistortionSeal {
  background-image: url("../../public/alchemist/distortionSeal.jpg");
}

.AlchemistsRevenge {
  background-image: url("../../public/alchemist/alchemistsRevenge.png");
}

.Arsonist {
  background-image: url("../../public/alchemist/arsonist.png");
}

.BracingTonic {
  background-image: url("../../public/alchemist/bracingTonic.png");
}

.CarefulHandling {
  background-image: url("../../public/alchemist/carefulHandling.png");
}

.Dispersion {
  background-image: url("../../public/alchemist/dispersion.png");
}

.ForbiddenComponent {
  background-image: url("../../public/alchemist/forbiddenComponent.png");
}

.HelpingHand {
  background-image: url("../../public/alchemist/helpingHand.png");
}

.NoRoomForError {
  background-image: url("../../public/alchemist/noRoomForError.png");
}
