@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

input[type='radio'] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
 -moz-appearance: none;
  background: #177519;
  outline: 3px solid #ebca10;
  border: 3px solid #177519;
  width: 25px;
  height: 25px;
  transform: rotate(45deg); 
}

input[type='radio']:checked {
  background: #4ced4f;
}

.Mage-bg {
  background-image: url("../../public/Mage.png");
}
